.Home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  padding-top: 20px;
  margin-bottom: 90px;
  justify-content: center;

  h1 {
    text-align: center;
    color: white;
    margin-top: 0;
  }

  button {
    margin: 0 auto 10px auto;
    width: 30%;
    max-width: 200px;
    padding: 4px 0;
    font-size: 10pt;
    font-family: 'Courier New', Courier, monospace;
    background-color: #01092ba6;
    color: white;
    border-color: rgba(8, 8, 50, 0.74);
    border-radius: 3px;
  }

  button:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px rgba(7, 7, 48, 0.753);
  }
  
}